# 如果你想彻底让原生目录不参与语言统计，可以直接这样配置：
ios/** linguist-vendored
android/** linguist-vendored
ohos/** linguist-vendored

# 忽略example
example/ios/** linguist-vendored
example/android/** linguist-vendored
example/ohos/** linguist-vendored
example/macos/** linguist-vendored
example/windows/** linguist-vendored
example/linux/** linguist-vendored
example/web/** linguist-vendored